body.active-modal {
    overflow-y: hidden;
    /* display: flex; */
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 20px;
    /* max-width: 600px; */
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
  }
  .column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .space-btw {
    justify-content: space-between;
  }
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .bd {
    border: solid red 5px;

  }