body {
  background-color: #544269;
}

h2 {
  background-color: #780000;
  color: #ffffff;
}
/* 003049 dark blue */
/* 669bbc light blue */
/* c1121e bright red */
/* 780000 dark red */
/* fdf0d5 cream white */
/* 5f4e74 purple color */
